//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
//	共通
.p-main {
	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

		padding: 20px;

		@include breakpoint(sm) {
			flex-direction: row;

			padding: 7.7% 7.2%;
		}
	}

	&__top {
		color: $text-brown;

		h2 {
			font-size: clamp(2.8rem, calc(2.8rem + 1vw), 3.6rem);
			font-weight: bold;
			text-align: left;
		}

		p {
			margin-top: 28px;

			line-height: 1.3125;
			text-align: left;
		}
	}
}

//	archive,archive-search
.archive,
.archive-search {
	.p-main {
		padding-bottom: 30px;

		&__inner {
			flex-direction: column;
			padding: 20px 18px 61px 22px;

			@include breakpoint(sm) {
				padding: 36px 35px 106px 43px;
			}

			@include breakpoint(lg) {
				padding: 60px 50px 150px 50px;
			}
		}
	}
}

/************************************************************************/
/*  END OF FILE                                       									*/
/************************************************************************/
